* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #2A334D;
  --secondary-color: #0A3ECC;
  --white-color: #FFFFFF;

  --font-scale-h1: 40px;
  --font-scale-p: 16px;
  --font-scale-small: 14px;

  --hover-efect: brightness(1.7);
  --click-efect: brightness(.3);
  --transitions: 200ms;

  font-size: 62.5%;
}

html, body {
  width: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  max-width: 918px;
}

.container h1 {
  order: 1;
  width: calc(100% - 200px);
  margin-bottom: 32px;
  color: var(--primary-color);
  font-size: var(--font-scale-h1);
  text-align: left;
}

.container label {
  order: 3;
  width: calc(100% - 200px);
  margin-bottom: 16px;
  color: var(--primary-color);
  font-size: var(--font-scale-p);
  text-align: left;
}

.container textarea {
  order: 4;
  width: 100%;
  margin-bottom: 24px;
  padding: 24px 16px;
  border: solid 1px var(--primary-color);
  border-radius: 8px;
  text-align: left;
}

.container textarea::placeholder {
  color: #2a334db0;
  font-size: var(--font-scale-small);
}

.container .counters {
  order: 5;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.counters .counter {
  width: 32%;
  max-width: 290px;
  padding: 16px;
  color: var(--primary-color);
  background: #2a334d20;
  border-radius: 8px;
  border-bottom: solid 1px var(--primary-color);
  font-size: var(--font-scale-small);
  text-align: center;
}

.counter span {
  font-weight: bold;
}

.container .informations {
  order: 2;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 200px;
  margin-top: 16px;
}

.informations .buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 16px;
  width: 100%;
}

.buttons button {
  background: transparent;
  transition: var(--transitions);
}

.buttons button:hover {
  filter: var(--hover-efect);
}

.buttons button:active {
  filter: var(--click-efect);
}

.informations .message {
  display: none;
  width: 100%;
}

.message .message-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 5px;
  text-align: center;
}

.message-box img, .message-box p {
  position: absolute;
  color: var(--white-color);
  font-size: var(--font-scale-p);
  text-align: center;
}

.message-box p {
  margin-top: 9px;
}

@media screen and (max-width: 768px) {
  body {
    padding: 64px 5%;
  }
  
  .container {
    justify-content: center;
    align-items: center;
  }

  .container h1 {
    order: 1;
    width: 100%;
  }

  .container label {
    order: 2;
    width: 100%;
  }
  
  .container textarea {
    order: 3;
  }

  .container .counters {
    order: 4;
    margin-bottom: 48px;
  }

  .counters .counter {
    padding: 16px 8px;
  }

  .container .informations {
    order: 5;
    margin-top: 0px;
  }

  .informations .buttons {
    justify-content: center;
  }

  .informations .message {
    padding-right: 118px;
  }
}
